.userItem {
  padding: 15px 30px 15px 30px;
  transition: all 0.3s ease-in-out;
}

.userItem:hover {
  background-color: rgb(56, 56, 56);
}

.online {
  background-color: #0fa;
}

.busy {
  background-color: #fb0;
}

.offline {
  background-color: #888;
}

.status {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  margin-right: 12px;
}

.userName {
  display: inline-block;
}

.userName a {
  text-decoration: none;
  color: white;
}
